/* Tổng thể */
body {
  margin: 0;
  padding-top: 56px;
  /* Để không bị che bởi header */
  font-family: Arial, sans-serif;
}

/* Header cố định trên cùng */
.navbar {
  height: 56px;
}

/* Sidebar */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 56px;
  /* Để không đè lên header */
  left: 0;
  background: #f8f9fa;
  padding-top: 20px;
  transition: all 0.3s;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* Khi sidebar ẩn */
.sidebar.hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}

/* Sidebar link */
.sidebar .nav-link {
  padding: 10px 15px;
  color: #333;
}

.sidebar .nav-link:hover {
  background: #ddd;
}

/* Màu xanh cho trạng thái active */
.sidebar .nav-link.active {
  background: #007bff;
  /* Màu xanh */
  color: #fff;
  /* Chữ trắng để dễ đọc */
}

/* Nội dung chính */
#main-content {
  margin-left: 250px;
  padding: 20px;
  transition: all 0.3s;
}

/* Khi sidebar ẩn, nội dung chính mở rộng */
#main-content.expanded {
  margin-left: 0;
}

/* Trạng thái sản phẩm */
.badge-success {
  background-color: #28a745;
  /* Màu xanh lá */
}

.badge-danger {
  background-color: #dc3545;
  /* Màu đỏ */
}

/* Màu xanh cho trạng thái active */
.badge-primary {
  background-color: #097231;
  /* Màu xanh */
  color: #fff;
}

/* Responsive: Khi màn hình nhỏ, sidebar ẩn */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    overflow: hidden;
  }

  #main-content {
    margin-left: 0;
  }
}

/* show Alert */
.alert-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
}

/* end show alert */

button[close-alert] {
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  padding: 4px 8px;
  transition: color 0.3s ease, transform 0.2s ease;
}

button[close-alert]:hover {
  color: red;
  transform: scale(1.2);
}

button[close-alert]:focus {
  outline: none;
}
