extends ../../layouts/default.pug

//- dưới đây là code riêng của page này, nếu comment kiểu // thì nó vẫn render cả cái comment này ra mã html 
//- mà cái extends này buộc toàn bộ cái riêng của page này phải nằm trong block 
block main 
  h1 Home page