mixin alert-success(time)
  - if(messages.success)
      .message.success   
        div(
          class="alert alert-success"
          show-alert
          data-time=time
        ) #{messages.success} <button close-alert>x</button>
