//- code của phần header để ở đây xong tí dùng include để nhúng vào file default

header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href='/admin/dashboard')
            img(src='/img/Lazada.svg.png', alt='logo')

      .col-9
        .inner-menu
          ul
            
